.navbar {
    background-color: #808080;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbarList {
    list-style: none;
    display: flex;
    gap: 16px;
  }
  
  .navbarList li {
    display: flex;
    align-items: center;
  }
  
  .navbarList a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    gap: 8px;
  }
  
  .logoutButton {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
  }
  
  .content {
    margin-top: 16px;
  }
  